*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#0f172a);
    color:#fff;
    overflow-x:hidden;
}

/* Navigation */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#00e5ff;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
    font-size:17px;
}

nav ul li a:hover{
    color:#00e5ff;
}

/* Home */

.home{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 8%;
}

.content{
    width:55%;
}

.content h3{
    font-size:28px;
}

.content h1{
    font-size:65px;
    color:#00e5ff;
    margin:10px 0;
}

.content h2{
    font-size:35px;
    margin-bottom:20px;
}

#typing{
    color:#00ff99;
}

.content p{
    font-size:18px;
    line-height:30px;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn,
.btn2{
    padding:14px 35px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn{
    background:#00e5ff;
    color:#000;
}

.btn:hover{
    transform:translateY(-5px);
}

.btn2{
    border:2px solid #00e5ff;
    color:white;
}

.btn2:hover{
    background:#00e5ff;
    color:black;
}

.social{
    margin-top:35px;
}

.social a{
    color:white;
    font-size:28px;
    margin-right:20px;
    transition:.3s;
}

.social a:hover{
    color:#00e5ff;
    transform:scale(1.2);
}

.image{
    width:40%;
    text-align:center;
}

.image img{
    width:380px;
    height:380px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #00e5ff;
    box-shadow:0 0 40px #00e5ff;
    animation:float 3s ease-in-out infinite;
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0);
}

}
